.search-music {
  text-align: center;
  padding: 10px 50px;
  background-color: whitesmoke;
}

.label-search {
  border: lightseagreen;
}

.enter-btn {
  padding: 5px 10px;
  flex: 1;
  text-align: center;
  border: 1px solid black;
}

.enter-btn:hover {
  cursor: pointer;
  background-color: aquamarine;
}
